<!DOCTYPE html>
html(lang="en")
	head
		base(href=base_url)
		title ¿Ta ocupao?

		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

		link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')

		link(href='img/favicon.ico', rel='shortcut icon')
		script.
			timeOffset = #{baseTime} - Date.now()
			console.log(timeOffset)
		if env == 'development'
			each src in sources.css
				link(rel="stylesheet", href=src)
			
			script(src="http://localhost:35729/livereload.js")

			each src in sources.js
				script(src=src)
		else
			link(rel="stylesheet", href="resources/styles.min.css")
			script(src="resources/bundle.min.js")
			//[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]
	body(ng-app="app" ng-controller="BaseCtrl")

		.sync-status(ng-if="isOutOfSync")
			i.fa.fa-unlink
			|  AYURA

		.articles
	
			article(ng-class="status.b_1? 'busy':''")
				span.fa.fa-male
				.imgs(ng-class="{show:showWarning('b_1')}")
					img(src="img/skull.png")
					img(src="img/skull.png")
					img(src="img/skull.png")
					img(src="img/skull.png")

			article(ng-class="status.b_2? 'busy':''")
				span.fa.fa-female
				.imgs(ng-class="{show:showWarning('b_2')}")
					img(src="img/skull.png")
					img(src="img/skull.png")
					img(src="img/skull.png")
					img(src="img/skull.png")

		if gaId
			script.
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', #{gaId}, 'auto');
				ga('send', 'pageview');